@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Ubuntu+Mono:wght@400;700&display=swap");
@import url(colors.css);

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Ubuntu Mono', monospace; */
/* Main content */

/* Form section */

.form-section {
  border: 2px solid var(--forth-color);
  background-color: var(--forth-color);
  box-shadow: 0px 2px 3px 1px var(--shadow-color);
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  transition: all 0.5s ease;
}

/* Form top */

.top {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.top > .title {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: 17px;
  padding: 16px 16px;
}

/* Form top End */

/* Form Register */

.form-register {
  min-width: 70%;
  width: auto;
  min-height: 70%;
  height: auto;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 70%;
  width: auto;
  min-height: 70%;
  height: auto;
}

.form > .section {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(calc(100% / 4), auto));
  grid-auto-columns: minmax(100px, auto);
  gap: 15px 5px;
  justify-content: center;
  align-items: center;
}

.form > .section > .row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  margin: 5px 0;
  top: 0;
  left: 0;
}

.form > .section > .row:nth-child(1) {
  grid-column: 1 / 5;
}

.form > .section > .row:nth-child(1) > select {
  width: 150px;
}

.form > .section > .row:last-child {
  grid-column: 1 / 5;
  margin-top: 10px;
}

.form > .section > .row:last-child > button {
  display: flex;
  gap: 5px;
  padding: 10px 25px;
  font-weight: 500;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
  background-color: rgb(220, 37, 37);
  border: transparent;
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.form > .section > .row:last-child > button:hover {
  background-color: rgb(180, 18, 18);
}

.form > .section > :is(.row.ven_cert, .row.serial) {
  display: none;
}

/* Form Select */

.form > .section > .row > .select {
  height: 25px;
  width: 250px;
  background: var(--fifth-color);
  border-radius: 8px;
  position: relative;
  z-index: 99;
}

.form > .section > .row > .select::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 7.5px;
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0s linear;
}

.form > .section > .row > .select > input {
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
}

.form > .section > .row > .select > input::placeholder {
  color: var(--text-color);
}

.form > .section > .row > .select > .options {
  width: 100%;
  z-index: 9;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--fifth-color);
  outline: none;
  font-size: 15px;
  overflow: hidden;
  top: 26px;
  position: absolute;
  transition: all 0.1s ease;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(5px);
  list-style-type: none;
  border: none;
}

.form > .section > .row > .select > .options > .option {
  padding: 10px;
}

.form > .section > .row > .select > .options > .option:hover {
  background-color: var(--shadow-color);
}

.form > .section > .row > .select.opened > .options {
  opacity: 1;
  visibility: visible;
}

.form > .section > .row > .select.opened::before {
  transform: rotate(-225deg);
  top: 11.5px;
}

/* Form Select End */

/* .form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #0d41a9 !important;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px;
}

.form > button > svg {
  width: 15px;
  height: 15px;
} */

.form > .section > .row > .input-text {
  width: 100%;
  border: none;
  outline: none;
  padding: 0px 10px;
  background-color: transparent;
  border-bottom: 3px solid var(--fifth-color);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}

.form > .section > .row > .text-label {
  position: absolute;
  font-size: 15px;
  color: var(--text-color);
  pointer-events: none;
  transition: 0.5s;
  left: 0;
  top: 0;
}

.form
  > .section
  > .row
  > .input-text:is(:focus, :not(:placeholder-shown))
  ~ label {
  font-size: 12px;
  top: -15px;
}

.form > .section > .obs {
  display: flex;
  flex-direction: column;
  padding: 5px;
  grid-column: 1 / 5;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.form > .section > .obs > label {
  float: left;
  width: 100%;
}

.form > .section > .obs > textarea {
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
}

.form > .section > .contador {
  display: none;
}

/* Form checkbox */

.title-checkbox {
  position: relative;
  width: 50px;
  height: 100%;
  padding: auto;
}

.title-checkbox.nfce {
  width: 70px;
}

.label {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 74px;
  height: 30px;
  overflow: hidden;
  font-family: "Ubuntu Mono", monospace;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 9 */
#button-9 .knobs {
  background-color: var(--fifth-color);
}

#button-9 .knobs:before,
#button-9 .knobs:after,
#button-9 .knobs span {
  position: absolute;
  top: 2px;
  width: 28px;
  height: 26px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 8px 0px;
  border-radius: 50%;
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  color: #fff;
  z-index: 2;
}

#button-9 .knobs:before {
  content: "NÃO";
  left: 4px;
}

#button-9 .knobs:after {
  content: "SIM";
  right: -24px;
}

#button-9 .knobs span {
  left: 4px;
  background-color: #f44336;
  z-index: 1;
}

#button-9 .checkbox:checked + .knobs:before {
  left: -30px;
}

#button-9 .checkbox:checked + .knobs:after {
  right: 4px;
}

#button-9 .checkbox:checked + .knobs span {
  left: 42px;
  background-color: rgb(21, 140, 21);
}

#button-9 .checkbox:checked ~ .layer {
  background-color: #ebf7fc;
}

/* Form checkbox End */

/* Form register End */

/* Form section End */

/* Pop Up */

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-color);
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.popUp > .popUp-content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--fifth-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--shadow-color);
  min-width: 400px;
  max-width: 500px;
  min-height: 200px;
  height: auto;
}

.popUp > .popUp-content > .popUp-close {
  /* content: "X"; */
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background: solid var(--text-color);
  border-radius: 15px;
  z-index: 1;
}

.popUp > .popUp-content > .popUp-title {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 10px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
  background-color: var(--forth-color);
  position: absolute;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: transparent;
  text-align: center;
  color: var(--text-color);
  top: 0;
}

.popUp > .popUp-content > .popUp-text {
  margin-top: 30px;
  font-family: "Ubuntu Mono", monospace;
  color: var(--text-color);
  user-select: text;
}

/* Pop Up End */

/* Main content End */

/* Media queries */

@media (max-width: 1024px) {
  .form > .section {
    grid-template-columns: repeat(3, minmax(calc(100% / 3), auto));
  }

  .form > .section > .row:nth-child(1) {
    grid-column: 1 / 4;
  }

  .form > .section > .row:last-child {
    grid-column: 1 / 4;
  }

  .form > .section > .obs {
    grid-column: 1 / 4;
  }
}

@media (max-width: 768px) {
  .form > .section {
    grid-template-columns: repeat(2, minmax(calc(100% / 2), auto));
  }

  .form > .section > .row:nth-child(1) {
    grid-column: 1 / 3;
  }

  .form > .section > .row:last-child {
    grid-column: 1 / 3;
  }

  .form > .section > .obs {
    grid-column: 1 / 3;
  }
}

/* Media queries End */
