/* Base CSS */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Ubuntu+Mono:wght@400;700&display=swap");
@import url(colors.css);

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Ubuntu Mono', monospace; */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  user-select: text;
  -webkit-user-drag: none;
}

body {
  background-color: var(--background-color);
  max-width: 100%;
  max-height: 100%;
}

/* CSS HEADER */

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: var(--first-color);
  padding: 0 30px;
  justify-content: space-between;
  color: var(--text-color);
  border-bottom: 0.01px solid var(--shadow-color);
  box-shadow: 0px 1px 10px 2px var(--shadow-color);
  margin-bottom: 0px;
  z-index: 999;
}

.header img {
  user-select: none;
}

div.header {
  padding: 0;
  /* margin: 10px; */
}

/* HEADER NAVBAR*/

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 1 100px;
}

.nav-bar,
.nav-bar::marker {
  color: var(--sidebar-btn-color);
}

/* HEADER NAVMENU */

.nav-btn {
  display: flex;
  width: 50px;
}

.nav-btn button {
  border: none;
}

.nav-menu {
  scale: 140%;
  width: auto;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  left: 0;
}

/* HEADER LOGO */

.logo {
  display: inline-block;
  width: auto;
  position: relative;
  left: 0;
}

#logo {
  height: 100px;
  scale: 80%;
  display: inline-block;
}

/* Perfil */

.perfil {
  z-index: 999;
  position: relative;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: text;
}

.perfil img {
  cursor: pointer;
  position: relative;
  right: 0;
  max-width: 100px;
  scale: 60%;
  border-radius: 50%;
  display: block;
}

.perfil p {
  position: relative;
  color: var(--text-color);
  user-select: text;
}

/* Perfil Dropdown */

.perfil .dropdown-perfil {
  padding: 10px;
  position: absolute;
  right: 1rem;
  top: 5.2rem;
  box-shadow: 0 8px 16px 0 var(--shadow-color);
  width: 200px;
  background-color: var(--second-color);
  border-radius: 15px;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

.perfil > .dropdown-perfil > li {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.perfil > .dropdown-perfil > li:hover {
  background-color: var(--forth-color);
  transition: all 0.2s linear;
}

.perfil .dropdown-perfil a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: end;
  padding: 5px;
}

.perfil .dropdown-perfil svg {
  margin: 5px 10px;
}

.perfil a {
  text-decoration: none;
  color: #fff;
}

.perfil li {
  list-style: none;
}

/* CSS MAIN CONTENT WRAPPER */

.wrapper {
  display: flex;
  width: 100%;
}

/* CSS MAIN CONTENT WRAPPER END */

/* SIDE BAR */

.sidebar {
  position: fixed;
  color: #fff;
  height: 100%;
  width: 150px;
  background-color: var(--second-color);
  border-top: 2px rgb(47, 47, 47);
  box-shadow: 0px 2px 16px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 0px;
  transition: all 0.3s ease-in-out;
}

.sidebar :where(a, button) {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
}

.sidebar > :is(.users-pages, .systems-pages) {
  padding: 3px 8px;
  display: none;
  background-color: var(--third-color);
}

.sidebar > :is(.users-pages:hover, .systems-pages:hover) {
  background-color: var(--forth-color);
}

.sidebar > button > div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.sidebar :where(a, button):hover {
  background-color: var(--third-color);
}

.sidebar .form-icon {
  margin-left: 1.5px;
}

/* SIDE BAR END */

/* MAIN CONTENT */

.wrapper > .content {
  position: relative;
  left: 150px;
  width: calc(100% - 170px);
  margin: 10px;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

/* MAIN CONTENT END */

/* Media Queries */

@media (max-width: 1024px) {
  .sidebar {
    width: 45px;
  }

  .sidebar :where(a, button) :where(p, .dropdown-icon) {
    display: none;
    max-width: 45px;
  }

  .content {
    left: 45px;
    width: calc(100% - 65px);
  }
}

@media (max-width: 768px) {
  .sidebar {
    left: -150px;
  }

  .content {
    left: 0;
    width: 100%;
  }
}

/* Media queries end */

/* Base CSS End */
